body
{
    background-color: rgb(223, 255, 223);
    color: rgb(2, 61, 0);
    align-items: center;
    text-align: center;
    margin: 2px;
}

input
{
    background-color: rgb(174, 206, 174);
    border: none;
    width: 35vh;
    height: 3vh;
}

button
{
    background-color: rgb(112, 231, 112);
    font-size: 15px;
    border: none;
}

p
{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}